@import "src/styles/var";

.root {
  width: 256px;
  height: 42px;
  padding: 12px 24px;
  border-radius: 14px;
  opacity: 0.9;
  background: $grey-background;
  border: none;
  cursor: pointer;
  color: $white;
  text-align: center;
  font-family: $font-family-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.08px;

  @media #{$mobile} {
    width: 125px;
  }
}
